# Object directory
**/obj

# Exec directory
**/bin

# Library directory
**/lib

# Object files
*.o

# Ada Library Information (ALI) files 
*.ali

# Database files
*.db
*.db-shm
*.db-wal

# Auto generated project file
gpsauto.cgpr

# Auto generated project files locations file
*-loc.xml

# gprof profile data
gmon.out
